<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
        
    </div>
</div>
<h3>User Mangement System created using Node.js ejs MongoDB and express. This system has basic CRUD fuctionality i.e create (you can create users with basic details ) , Read(you can view and read stored customer) , Update(you can update data of customer) and finally Delete operation (you can delete details and profile of stored)</h3>